a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p {
  font-size: 18px;
  line-height: 22px; }

h1 {
  font-size: 50px;
  font-weight: 300;
  color: #444;
  line-height: 1.5; }

h2 {
  font-size: 35px;
  font-weight: 300;
  color: #444; }

h3 {
  font-size: 28px;
  font-weight: 300;
  color: #444; }

h4 {
  font-size: 25px;
  font-weight: 400;
  color: #444; }

h5 {
  font-size: 20px;
  font-weight: 600;
  color: #444; }

.mainTitleLine h1 {
  text-decoration: underline;
  -moz-text-decoration-color: #00658c;
  text-decoration-color: #00658c; }

.bordered {
  border: 1px solid #e7e7e7;
  padding: 5px; }

body {
  height: 100%;
  line-height: 25px;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 22px; }

section {
  padding-left: 15px;
  padding-right: 15px; }

.brd {
  border: 1px solid red; }

.txL {
  text-align: left; }

.txR {
  text-align: right; }

.txC {
  text-align: center; }

.pad0 {
  padding: 0; }

.mar0 {
  margin: 0; }

.overHidden {
  overflow-x: hidden; }

.pad20 {
  padding-left: 10%;
  padding-right: 10%; }

.pad30 {
  padding: 30px 20px; }

.pad60 {
  padding: 60px 20px; }

.mw100 {
  max-width: 100%; }

.mTop {
  margin-top: 60px; }

.pTop {
  padding-top: 80px; }

@media (max-width: 900px) {
  .hideMobile900 {
    display: none !important; } }
.recomendThis {
  position: relative; }
  .recomendThis .recomendItem {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 5px; }
    .recomendThis .recomendItem img {
      width: 80px;
      height: 80px; }

section {
  padding-top: 25px;
  padding-bottom: 25px; }

#fh5co-press .fh5co-press-item {
  float: none; }

#fh5co-our-services, #fh5co-about-us, #fh5co-features, #fh5co-testimonials, #fh5co-pricing, #fh5co-press {
  padding-bottom: 0;
  padding-top: 10px; }

#fh5co-our-services .box {
  margin-bottom: 35px; }

.sectionTitle {
  margin-bottom: 10px;
  padding-bottom: 15px;
  margin-top: 25px; }

.mainHeading {
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .mainHeading h2 {
    font-size: 50px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5; }

.section-heading {
  padding-bottom: 15px;
  margin-bottom: 0; }

.secHeading {
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .secHeading h2 {
    font-size: 35px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block; }
  .secHeading span {
    font-weight: 600; }

.mainInfo {
  margin-bottom: 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }
  .mainInfo h4 {
    font-weight: 300; }
  .mainInfo img {
    width: 90px;
    height: 90px;
    max-width: 100%;
    margin: 0 auto; }

@media (max-width: 765px) {
  .mainInfo {
    padding-left: 4px;
    margin-bottom: 20px; } }
.greyBackInfo {
  background-color: rgba(238, 238, 238, 0.42);
  padding: 65px 10px;
  text-align: center; }

.twoColTxtImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center; }

.tcTILeft {
  background: url(../img/ortopedia3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.tcTIright {
  text-align: left;
  background-color: #fff;
  padding: 40px; }
  .tcTIright p {
    color: #000;
    font-size: 14px; }

@media (max-width: 765px) {
  .twoColTxtImg {
    display: block; }

  .tcTILeft {
    min-height: 250px; } }
.ortod1sect {
  text-align: center; }
  .ortod1sect img {
    max-width: 100%; }
  .ortod1sect h2 {
    font-size: 50px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    line-height: 1.5; }

.ortopVideoMain {
  margin-top: 60px;
  margin-bottom: 40px; }

.ortopVideo {
  max-width: 100%; }

.ortopediaVideo iframe {
  min-width: 100%;
  max-width: 100%; }

@media (max-width: 950px) {
  .ortopediaVideo iframe {
    margin-top: 20px; } }
.ortopBlueBack {
  padding: 55px 10px;
  background-color: #00658c;
  text-align: center; }
  .ortopBlueBack span {
    text-align: center;
    color: #fff; }
  .ortopBlueBack span.firstInfo {
    font-size: 24px; }
  .ortopBlueBack span.secondInfo {
    font-size: 16px; }

.parallax-window {
  min-height: 400px;
  background: transparent;
  padding: 40px; }
  .parallax-window h3 {
    font-size: 30px;
    font-weight: 400; }
  .parallax-window hr {
    width: 400px;
    text-align: left; }
  .parallax-window h5 {
    font-size: 20px;
    font-weight: 400; }
  .parallax-window .fa-check-circle-o {
    font-size: 15px;
    margin-right: 15px; }

.parallax2 h5 {
  font-size: 35px; }

.altInfo {
  text-align: center;
  margin-bottom: 0; }
  .altInfo p {
    padding-bottom: 0; }
  .altInfo h2 {
    font-size: 35px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block; }
  .altInfo span {
    font-weight: 600; }

.altTxtInfo span {
  font-weight: 300;
  font-size: 35px;
  line-height: 10px; }
.altTxtInfo span.subtit {
  color: #fff;
  margin-bottom: 0px;
  font-size: 20px; }
.altTxtInfo p {
  color: #fff;
  line-height: 18px; }

.damonVideoTxt p {
  font-size: 14px; }
.damonVideoTxt h3 {
  margin-top: 0; }
.damonVideoTxt iframe {
  min-width: 100%;
  max-width: 100%; }

section.acordion {
  padding-top: 0; }
  section.acordion a {
    text-decoration: none; }
  section.acordion h4 {
    font-size: 16px;
    font-weight: 600; }

.accordiontxImg img {
  width: 150px; }

@media (max-width: 765px) {
  .accordiontxImg {
    text-align: center; } }
section.accordOdontPed {
  padding-top: 30px; }

.accordOdontPed img {
  width: 100%;
  margin-bottom: 15px;
  max-width: 100%; }

.odontopedBoxes {
  text-align: left; }
  .odontopedBoxes p, .odontopedBoxes h3 {
    text-align: left; }

.flexCentVert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-self: center;
  align-content: center; }

.flexSameH {
  display: flex;
  flex-wrap: wrap; }

.flexEqual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto; }

.flexW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center; }

.flexV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.bannerOrtodoncia {
  background: url(../img/ortodoncia/bannerortodoncia.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bannerOrtopedia {
  background: url(../img/ortopedia/bannerortomaxi.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bannerDamon {
  background: url(../img/ortodoncia/bannerdamon.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bannerInvisalign {
  background: url(../img/ortodoncia/bannerinvisalign.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bannerPediatrica {
  background: url(../img/pediat/banner-pediat.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.headBanner {
  min-height: 350px; }

@media (max-width: 600px) {
  .headBanner {
    min-height: 250px; } }
@media (max-width: 500px) {
  .headBanner {
    min-height: 200px; } }
#footer {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 10px; }

.contactTitle {
  margin-left: 15%; }
  .contactTitle h1 {
    font-weight: 300; }

.contactConsult {
  margin-top: -45px; }

@media (max-width: 991px) {
  .contactConsult {
    margin-top: 25px; } }
.contactCard {
  background-color: rgba(241, 241, 241, 0.14);
  padding: 10px;
  border-left: 5px solid #b6b6b6;
  padding-left: 20px;
  max-width: 100%;
  margin-bottom: 5px; }
  .contactCard p {
    color: #000;
    font-size: 16px;
    margin: 0;
    margin-bottom: 0; }
    .contactCard p .fa {
      color: #5b83e9; }
    .contactCard p .fa-phone {
      margin-right: 15px; }
    .contactCard p .fa-map-o {
      margin-right: 10px; }
    .contactCard p .fa-map-marker {
      margin-right: 20px; }

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mainContact {
  padding-top: 120px; }
  .mainContact .mainContactTit {
    margin-bottom: 35px; }
    .mainContact .mainContactTit h2 {
      font-size: 50px;
      font-weight: 300;
      color: #444;
      text-transform: uppercase;
      position: relative;
      display: block;
      line-height: 1.5; }

@media (max-width: 765px) {
  .mainContact {
    padding-top: 80px; } }
.copyR {
  background-color: #2e2e2e;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 14px; }
  .copyR a {
    color: #ccc; }
    .copyR a:hover {
      color: #a6a6a6;
      text-decoration: none; }

.smallHr {
  max-width: 300px;
  margin-top: 0;
  border-top: 2px solid #00658c; }

.leftDivider {
  border-bottom: 2px solid #00658c;
  width: 300px;
  margin-bottom: 15px; }

.leftDivider2 {
  border-bottom: 2px solid #00658c;
  width: 300px;
  margin-bottom: 15px;
  margin-top: 15px; }

.centerDivider {
  border-bottom: 1px solid #00658c;
  width: 200px;
  margin-bottom: 15px;
  text-align: center; }

.btnMain {
  background-color: #00658c;
  color: #fff; }
  .btnMain:hover {
    background-color: #07526f !important;
    color: #fff; }

.boxRoundContainer {
  margin-top: 70px; }

.boxRoundContainer2 {
  margin-top: 25px; }
  .boxRoundContainer2 h3 {
    margin-bottom: 15px; }

.boxRoundCorn {
  background-color: rgba(248, 248, 248, 0.4);
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative; }
  .boxRoundCorn h3 {
    font-size: 20px;
    margin-top: 0; }

.boxIcon {
  margin-top: -80px; }

.box img {
  margin-top: -40px;
  width: 150px;
  background-color: white;
  border-radius: 100%; }

.altSectionBackGrey {
  background-color: #f4f4f4; }

.altSectionBackGreyL {
  background-color: #fcfcfc; }

.altSectionBackBlue {
  background-color: #00658c;
  color: #fff;
  text-align: center; }
  .altSectionBackBlue h1, .altSectionBackBlue h2, .altSectionBackBlue h3, .altSectionBackBlue h4, .altSectionBackBlue h5 {
    color: #fff; }

.mainContainer {
  padding-top: 100px; }

.catalogueMain {
  background-color: rgba(224, 224, 224, 0.8);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 35px; }

.catalogueItem {
  padding-bottom: 25px;
  max-width: 350px;
  position: relative; }
  .catalogueItem h2 {
    font-weight: 600; }
  .catalogueItem img {
    width: 500px; }

@media (max-width: 765px) {
  .catalogueMain {
    flex-direction: column; } }
.price {
  font-size: 22px; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #212121; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 10px; }
  .hovereffect .overlay h2 {
    font-size: 22px; }

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer; }

.hovereffect h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 20px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent; }

.hovereffect h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(0, -100%, 0); }

.hovereffect:hover h1:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect a, .hovereffect p, .hovereffect h2 {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(0, 700%, 0); }

.hovereffect h2 {
  opacity: 1; }

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect hr {
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.hovereffect:hover hr {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.OrtodonciaLink .caret {
  margin-top: 3px;
  color: blue; }

.mainLogo {
  margin-top: -10px; }
  .mainLogo img {
    max-width: 200px; }

@media (max-width: 995px) {
  .mainLogo img {
    max-width: 150px; } }
#fh5co-header #navbar li a {
  color: #383838; }

#fh5co-header #navbar li.active a {
  color: #6b6b6b; }

#fh5co-header #navbar li a:hover {
  color: #595959; }

#fh5co-header {
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 0; }

.nav {
  font-size: 18px; }

@media (max-width: 1200px) {
  .nav {
    font-size: 16px; } }
@media (max-width: 992px) {
  .nav > li > a {
    padding: 20px 8px; } }
@media (max-width: 768px) {
  .navContainer {
    background-color: rgba(255, 255, 255, 0.81); }

  .nav > li:hover {
    background-color: #ededed; }

  .nav > li > a {
    padding: 10px 5px; } }
@media (max-width: 992px) and (min-width: 768px) {
  .navContainer {
    width: 100%; } }
.OrtodonciaLink li {
  padding: 5px 10px; }
  .OrtodonciaLink li:hover {
    background-color: #ebebeb; }

#formDiv {
  max-width: 100%;
  /* on hover placeholder */ }
  #formDiv input::-webkit-input-placeholder, #formDiv textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::-webkit-input-placeholder, #formDiv textarea:focus::-webkit-input-placeholder {
    color: #bbb5af; }
  #formDiv input::-moz-placeholder, #formDiv textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::-moz-placeholder, #formDiv textarea:focus::-moz-placeholder {
    color: #bbb5af; }
  #formDiv input::placeholder, #formDiv textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::placeholder, #formDiv textarea::focus:placeholder {
    color: #bbb5af; }
  #formDiv input::-ms-placeholder, #formDiv textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::-ms-placeholder, #formDiv textarea:focus::-ms-placeholder {
    color: #bbb5af; }
  #formDiv input:hover::-webkit-input-placeholder, #formDiv textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  #formDiv input:hover:focus::-webkit-input-placeholder, #formDiv textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1; }
  #formDiv input:hover::-moz-placeholder, #formDiv textarea:hover::-moz-placeholder {
    color: #393939;
    font-size: 0.875em; }
  #formDiv input:hover:focus::-moz-placeholder, #formDiv textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1; }
  #formDiv input:hover::placeholder, #formDiv textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  #formDiv input:hover:focus::placeholder, #formDiv textarea:hover:focus::placeholder {
    color: #cbc6c1; }
  #formDiv input:hover::placeholder, #formDiv textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  #formDiv input:hover:focus::-ms-placeholder, #formDiv textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1; }
  #formDiv header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px; }
  #formDiv #form {
    position: relative;
    width: 500px;
    max-width: 100%;
    margin: 10px;
    max-width: 100%; }
  #formDiv input {
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    width: 470px;
    max-width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  #formDiv input:hover {
    background: rgba(238, 238, 238, 0.53);
    color: #797979; }
  #formDiv textarea {
    width: 470px;
    max-width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  #formDiv textarea:hover {
    background: rgba(238, 238, 238, 0.53);
    color: #4f4f4f; }
  #formDiv #submit {
    width: 470px;
    max-width: 100%;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    color: #8a8a8a;
    outline: none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none; }
  #formDiv #submit:hover {
    color: #938bee; }

.homeItems {
  text-align: center; }
  .homeItems h3 {
    margin-top: 0 !important; }
  .homeItems .homeItemsTitle {
    margin-bottom: 20px; }

.catalogueHome {
  margin-left: 5%; }

.sliderText h1, .sliderText h2 {
  color: #343434 !important;
  text-shadow: 4px 4px 8px #969696;
  font-size: 20px; }
.sliderText h1 {
  font-size: 35px !important; }

.sliderTextRight {
  text-align: right !important; }

.sliderTextContainer {
  background-color: rgba(255, 255, 255, 0.32);
  padding: 30px 50px 10px;
  -webkit-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75); }
  .sliderTextContainer h1 {
    margin-bottom: 0 !important; }

.ortodTradicional {
  background: url(../img/ortodoncia/ortodoncia2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.ortodDamon {
  background: url(../img/ortodoncia/ortodoncia3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.ortodInvisalign {
  background: url(../img/ortodoncia/ortodoncia4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (max-width: 991px) {
  .ortodTradicional, .ortodDamon, .ortodInvisalign {
    background-size: auto;
    min-height: 150px; } }
.itemWithImgCont {
  background-color: whitesmoke;
  margin: 20px; }
  .itemWithImgCont h3 {
    text-align: center; }
  .itemWithImgCont .seeMore {
    text-align: center;
    padding-bottom: 15px; }
    .itemWithImgCont .seeMore .btnMain {
      padding: 2px 8px; }

.damonTiempo {
  background-color: #00658c;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px; }
  .damonTiempo span, .damonTiempo h3 {
    color: #fff; }
  .damonTiempo span {
    font-size: 18px; }

.afterBefore {
  margin-bottom: 20px; }
  .afterBefore span {
    padding: 5px 15px;
    background-color: #00658c;
    color: #fff; }

.invisalignMain h3 {
  margin-top: 20px;
  margin-bottom: 40px; }

.invisalignDifTir {
  margin-bottom: 25px; }

.invisalignItemRight {
  background-color: white;
  padding: 10px 20px 20px;
  text-align: left; }

.invisalignItem1 {
  background: url(../img/ortodoncia/invisalign1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px; }

.invisalignItem2 {
  background: url(../img/ortodoncia/invi4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px; }

.invisalignDifferences h3 {
  font-size: 24px; }
.invisalignDifferences h4 {
  font-size: 20px; }
.invisalignDifferences p {
  line-height: 18px;
  font-size: 14px; }

.invisalignDifItems {
  margin-top: 20px; }
  .invisalignDifItems p {
    font-size: 16px; }

.invisalignSmile {
  background-image: url(../img/ortodoncia/invi3.jpg);
  padding: 35px 10px; }

.invisalignTeen {
  text-align: center; }

.ortopVentajas {
  background: url(../img/ortopedia/ortop1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 35px 10px; }

.ortopResults h3 {
  margin-bottom: 35px;
  margin-top: 0; }

.ortopResultImg {
  background: url(../img/ortopedia/ortop2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px; }

.ortopTratam {
  background: url(../img/ortopedia/ortop3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px; }

.bannerContact {
  background: url(../img/invi3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  margin-bottom: -10px; }

.pediatIntro {
  padding: 55px 10px; }
  .pediatIntro img {
    max-width: 100%; }
  .pediatIntro span {
    font-size: 18px;
    font-weight: 300;
    color: #444; }
  .pediatIntro .pediatIntroText {
    padding: 30px 20px 20px; }
  .pediatIntro .pediatReserva {
    text-align: center; }
  .pediatIntro .pediatReserva2 {
    display: none;
    text-align: center;
    margin-top: 15px; }
  @media (max-width: 768px) {
    .pediatIntro .pediatIntroText {
      text-align: center; }
    .pediatIntro .pediatReserva {
      display: none; }
    .pediatIntro .pediatReserva2 {
      display: block; } }

.pediatSecondSect {
  padding: 60px 10px;
  background: url(../img/pediat/pediat2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .pediatSecondSect .pediatSStext {
    max-width: 800px;
    float: right;
    text-align: center; }
    .pediatSecondSect .pediatSStext span {
      line-height: 40px;
      font-weight: 800;
      font-size: 45px; }
    .pediatSecondSect .pediatSStext span.bigText1 {
      color: #00658c; }
    .pediatSecondSect .pediatSStext span.bigText2 {
      color: #8ec53e; }

.pediatThirdSect {
  padding: 60px 10px 10px; }
  .pediatThirdSect i {
    color: #00658c;
    font-weight: 600; }

.pediatFourthSect {
  text-align: center;
  padding: 40px 10px; }
  .pediatFourthSect .pediatCircle {
    margin-top: 10px;
    margin-bottom: 10px; }
    .pediatFourthSect .pediatCircle img {
      max-width: 250px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
      .pediatFourthSect .pediatCircle img:hover {
        cursor: pointer;
        -webkit-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
        -moz-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important;
        box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75) !important; }
  .pediatFourthSect .pediatCircleContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap; }

.pediatModals {
  margin-top: 80px;
  padding-top: 50px; }
  .pediatModals .modalInner {
    padding: 40px 40px 0px; }
    .pediatModals .modalInner h3 {
      color: #00658c;
      font-weight: 600; }
  .pediatModals .modal-footer {
    border-top: 0px; }
  .pediatModals .modalPediatImg {
    position: absolute;
    top: -30px;
    left: -20px; }
    .pediatModals .modalPediatImg img {
      max-width: 100px; }

.pediatFifthSect {
  padding: 80px 10px;
  background: url(../img/pediat/pediat1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .pediatFifthSect .pediatFSinner {
    max-width: 600px; }
  .pediatFifthSect span {
    line-height: 40px;
    font-size: 35px;
    color: #00658c; }
  .pediatFifthSect span.bigBlueStrong {
    font-weight: 600; }
  .pediatFifthSect span.bigBlueThin {
    font-weight: 300; }

/*# sourceMappingURL=webstyles.css.map */
