.brd {
  border: 1px solid red; }

.txL {
  text-align: left; }

.txR {
  text-align: right; }

.txC {
  text-align: center; }

.pad0 {
  padding: 0; }

.mar0 {
  margin: 0; }

.mainLogo {
  margin-top: -10px; }
  .mainLogo img {
    max-width: 200px; }

#fh5co-header #navbar li a {
  color: #383838; }

#fh5co-header #navbar li.active a {
  color: #6b6b6b; }

#fh5co-header #navbar li a:hover {
  color: #595959; }

.sliderText h1, .sliderText h2 {
  color: #343434 !important;
  text-shadow: 4px 4px 8px #969696; }

.sliderTextRight {
  text-align: right !important; }

.contactTitle {
  margin-left: 15%; }
  .contactTitle h1 {
    font-weight: 300; }

.contactConsult {
  margin-top: -45px; }

@media (max-width: 991px) {
  .contactConsult {
    margin-top: 25px; } }
.contactCard {
  background-color: rgba(241, 241, 241, 0.14);
  padding: 10px;
  border-left: 5px solid #b6b6b6;
  padding-left: 20px;
  width: 350px;
  max-width: 100%;
  margin-bottom: 5px; }
  .contactCard p {
    color: #000;
    font-size: 16px;
    margin: 0;
    margin-bottom: 0; }
    .contactCard p .fa {
      color: #5b83e9; }
    .contactCard p .fa-phone {
      margin-right: 15px; }
    .contactCard p .fa-map-o {
      margin-right: 10px; }
    .contactCard p .fa-map-marker {
      margin-right: 20px; }

.copyR {
  background-color: #2e2e2e;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 14px; }
  .copyR a {
    color: #ccc; }
    .copyR a:hover {
      color: #a6a6a6;
      text-decoration: none; }

#formDiv {
  /* on hover placeholder */ }
  #formDiv input::-webkit-input-placeholder, #formDiv textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::-webkit-input-placeholder, #formDiv textarea:focus::-webkit-input-placeholder {
    color: #bbb5af; }
  #formDiv input::-moz-placeholder, #formDiv textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::-moz-placeholder, #formDiv textarea:focus::-moz-placeholder {
    color: #bbb5af; }
  #formDiv input::placeholder, #formDiv textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::placeholder, #formDiv textarea::focus:placeholder {
    color: #bbb5af; }
  #formDiv input::-ms-placeholder, #formDiv textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  #formDiv input:focus::-ms-placeholder, #formDiv textarea:focus::-ms-placeholder {
    color: #bbb5af; }
  #formDiv input:hover::-webkit-input-placeholder, #formDiv textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  #formDiv input:hover:focus::-webkit-input-placeholder, #formDiv textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1; }
  #formDiv input:hover::-moz-placeholder, #formDiv textarea:hover::-moz-placeholder {
    color: #393939;
    font-size: 0.875em; }
  #formDiv input:hover:focus::-moz-placeholder, #formDiv textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1; }
  #formDiv input:hover::placeholder, #formDiv textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  #formDiv input:hover:focus::placeholder, #formDiv textarea:hover:focus::placeholder {
    color: #cbc6c1; }
  #formDiv input:hover::placeholder, #formDiv textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  #formDiv input:hover:focus::-ms-placeholder, #formDiv textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1; }
  #formDiv header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px; }
  #formDiv #form {
    position: relative;
    width: 500px;
    max-width: 100%;
    margin: 10px; }
  #formDiv input {
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    width: 470px;
    max-width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  #formDiv input:hover {
    background: rgba(238, 238, 238, 0.53);
    color: #797979; }
  #formDiv textarea {
    width: 470px;
    max-width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  #formDiv textarea:hover {
    background: rgba(238, 238, 238, 0.53);
    color: #4f4f4f; }
  #formDiv #submit {
    width: 470px;
    max-width: 100%;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    color: #8a8a8a;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none; }
  #formDiv #submit:hover {
    color: #938bee; }

/*# sourceMappingURL=webStyles.css.map */
